*{
    padding:0;
    block-size: auto;

}

.buttons{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: row;
}

.button{
    height:100px;
    width: 100px;
    margin: 5px;
    border-radius: 3px;
    border-width: 0cap;

}

#red{
    background-color: red;
}

#yellow{
    background-color: yellow;
}

#blue{
    background-color: blue;
}

#green{
    background-color: green;
}

h1{
    text-align: center;
   
}
h2{
    text-align: center;
}